---
import Layout from "../layouts/Layout.astro";
import ArrowLink from "../components/ArrowLink.astro";
import Link from "../components/Link.astro";
import ThemeToggle from "../components/ThemeToggle";
---

<Layout title="Hieu Nguyen">
  <main class="container mx-auto text-xl font-serif dark:text-[#b8c5d1]">
    <div class="m-5">
			<header class="flex items-center justify-between">
				<p>Hi! I'm Hieu. 👋</p>
			<ThemeToggle client:only/>
			</header>
      <br />
      <p>
        I'm interested in creating intuitive and high-quality software. I work
        primarily with <span class="font-semibold">Javascript/Typescript</span>
         and <span class="font-semibold">Rust</span>. I am also learning <span
          class="font-semibold">Python</span
        > as a CS undergrad at the University of Florida.
      </p>
      <br />
      <div class="flex">
        <p>Right now, I am building a</p>
        <span class="underline flex items-center ml-1">
          <Link href="https://github.com/hieunguyent12/chess">chess app</Link>
          <span class="flex ml-1"><ArrowLink /></span>
        </span>
      </div>

      <ul class="actions mt-5 text-blue-500">
        <li>
          <Link href="/resume.pdf">
            <span class="flex items-center">
              <span class="hover:underline">Resume</span>
              <span class="flex ml-1"><ArrowLink /></span>
            </span>
          </Link>
        </li>
        <li>
          <Link href="https://github.com/hieunguyent12">
            <span class="flex items-center my-2">
              <span class="hover:underline">Github</span>
              <span class="flex ml-1"><ArrowLink /></span>
            </span>
          </Link>
        </li>
        <li>
          <Link href="https://www.linkedin.com/in/hieu-nguyen-11836628a/">
            <span class="flex items-center">
              <span class="hover:underline">Linkedin</span>
              <span class="flex ml-1"><ArrowLink /></span>
            </span>
          </Link>
        </li>
      </ul>
    </div>
  </main>

  <style></style>
</Layout>
