---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hieu Nguyen">
	<main>
		<div class="m-5">
			<p>Hi! I'm Hieu.</p>
			<p>I am interested in fullstack development.</p>
			<p>My primary languages are: Javascript/Typescript, Rust and Python</p>

			<div class="actions mt-5">
				<button class="mr-3">Contact</button>
				<button>Resume</button>
			</div>
		</div>
	</main>	
</Layout>

<style>
</style>
